<section class="about section-margin pb-xl-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-6 mb-5 mb-md-0 pb-5 pb-md-0">
                <div class="img-styleBox">
                    <div class="styleBox-border">
                        <img class="styleBox-img1 img-fluid" src="{{ asset('img/map-elizalde.jpg') }}" alt="Marker at Map">
                    </div>
                    <img class="styleBox-img2 img-fluid" src="{{ asset('img/elizalde-bar.jpg') }}" alt="">
                </div>
            </div>
            <div class="col-md-6 pl-md-5 pl-xl-0 offset-xl-1 col-xl-5">
                <div class="section-intro mb-lg-4">
                    <h4 class="intro-title">{% trans %}about.title{% endtrans %}</h4>
                    <h2>{% trans %}about.subtitle{% endtrans %}</h2>
                </div>
                <p>{% trans %}about.text{% endtrans %}</p>
                <a class="button button-shadow mt-2 mt-lg-4" href="#">{% trans %}cta.book_now{% endtrans %}</a>
            </div>
        </div>
    </div>
</section>
<!--================About Section End =================-->
