  <!--================CTA section start =================-->  
  <section class="cta-area text-center" style="background-image: url({{asset('img/frontal-wide-001.jpg')}});">
    <div class="container">
      <p>{% trans %}home.cta.text{% endtrans %}</p>
      <h2>{% trans %}home.cta.bigtext{% endtrans %}</h2>
      <a class="button" href="#">{% trans %}cta.book_now{% endtrans %}</a>
    </div>
  </section>
  <!--================CTA section end =================-->  