<!--================Offer Section Start =================-->
<section class="bg-lightGray section-padding">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm">
                <img class="card-img rounded-0" src="img/home/offer-img.png" alt="">
            </div>
            <div class="col-sm">
                <div class="offer-card offer-card-position">
                    <h3>Italian Pizza Offer</h3>
                    <h2>50% OFF</h2>
                    <a class="button" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Offer Section End =================-->