<!--================Offer Section Start =================-->
<section class="bg-lightGray section-padding">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm">
                <img class="card-img rounded-0" src="{{ asset('img/offer/offer-openbar.jpg')}}" alt="">
            </div>
            <div class="col-sm">
                <div class="offer-card offer-card-position">
                    <h3>{% trans %}offer.title{%endtrans %}</h3>
                    <h2>offer.bigline</h2>
                    <a class="button" href="#booking">{% trans %}offer.cta.btn_text{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Offer Section End =================-->