<section id="why_with_us" class="why_with_us section">

    <div class="section__description">
        <div class="title title--center">
            <h2>
                {% trans %}
                    section_title.why_with_us
                {% endtrans %}
            </h2>
        </div>
        <div class="section__description__text">
            <p>
                {% trans %}
                    section_title.why_with_us.subtitle
                {% endtrans %}
            </p>
        </div>
    </div>

    <div class="why_with_us__cards">

        <div class="why_with_us__cards__item">
            <div class="why_with_us__cards__item__text">
                <p>
                    {% trans %}
                        text.reason_1_part_1
                    {% endtrans %}

                    <a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g147271-d13554747-Reviews-Taxi_Drivers_Cuba-Havana_Ciudad_de_la_Habana_Province_Cuba.html">
                        <b>TRIPADVISOR</b>
                    </a>

                    {% trans %}
                        text.reason_1_part_2
                    {% endtrans %}
                </p>
            </div>
        </div>

        <div class="why_with_us__cards__item">
            <div class="why_with_us__cards__item__text">
                <p>
                    {% trans %}
                        text.reason_2
                    {% endtrans %}

                </p>
            </div>
        </div>

        <div class="why_with_us__cards__item">
            <div class="why_with_us__cards__item__text">
                <p>
                    {% trans %}
                        text.reason_3
                    {% endtrans %}
                </p>
            </div>
        </div>

        <div class="why_with_us__cards__item">
            <div class="why_with_us__cards__item__text">
                <p>
                    {% trans %}
                        text.reason_4
                    {% endtrans %}
                </p>
            </div>
        </div>

    </div>
</section>