{% extends 'emails/clients/client_base.html.twig' %}
{% block emailPresentation %}
    <p style="color: #333333;">
        {#Edit here#}
        {% trans %}Hi!{% endtrans %} {{ booking.clientName }} {% trans %}this are you trip details{% endtrans %}<br>
    </p>
{% endblock emailPresentation %}


{% block emailMessage %}
    <p>
        {% trans %}Your reservation has been approved, we will be waiting for you, following the information you provided.{% endtrans %}
    </p>
{% endblock emailMessage %}