{% extends 'emails/clients/client_base.html.twig' %}
{% block emailPresentation %}
    <p style="color: #333333;">
        {#Edit here#}
        {% trans %}Hi!{% endtrans %} {{ booking.clientName }} {% trans %}we have some news for you{% endtrans %}<br>
    </p>
{% endblock emailPresentation %}


{% block emailMessage %}
    <p>
        {% trans %}Recently you tried to book a trip to Vinales, Cuba but due to the little time left to organize it, it was not possible to process your request. We recommend you try again with another date.{% endtrans %}
    </p>
{% endblock emailMessage %}

{% block rodewithLester %}   <!-- hidden content -->{% endblock %}
{% block bookingDetails %}   <!-- hidden content -->{% endblock %}
{% block priceDetails %}   <!-- hidden content -->{% endblock %}
{% block emailPassengers %}   <!-- hidden content -->{% endblock %}